<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand" href="/dashboard">Cloetta</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarColor01"
		aria-controls="navbarColor01"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/employees">Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
		<a href="/users/logout" class="btn btn-secondary">Logout</a>
	</div>
</nav>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
	<li class="breadcrumb-item"><a href="/employees">Team</a></li>
	<li class="breadcrumb-item active">Add Store</li>
</ol>
<div class="col">
	<div class="card card-body">
		<!-- <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Register</h1> -->
		<% include ./partials/messages %>
		<form action="/employees/addEmployee" method="POST">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					type="text"
					id="name"
					name="name"
					class="form-control"
					value="<%= typeof name != 'undefined' ? name : '' %>"
				/>
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<select class="form-control" type="title" id="title" name="title">
					<option disabled selected value> -- select an option -- </option>
					<option>Service Konsulent</option>
					<option>Salgs Konsulent</option>
					<option>Team Leader</option>
				</select>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input
					type="email"
					id="email"
					name="email"
					class="form-control"
					value="<%= typeof email != 'undefined' ? email : '' %>"
				/>
			</div>
			<div class="form-group">
				<label for="address">Address</label>
				<input
					type="text"
					id="address"
					name="address"
					class="form-control"
					value="<%= typeof address != 'undefined' ? address : '' %>"
				/>
				<small id="addressHelp" class="form-text text-muted">
					Format: Enghavevej 255, 2450 København SV
				</small>
			</div>
			<button type="submit" class="btn btn-primary btn-block" href>
				Add Employee
			</button>
		</form>
	</div>
</div>
